body {
    background: #ffefb3;
}

p {
    font-family: arial,sans-serif;
}

h1 {
    text-align: center;
        color: #18261d;
    border-style: ridge;
    border-width:5px;
    border-color:#d99b29;
}

/* This is the link menu. */
.vertical-menu {
    width: 200px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: green;
    color: white;
}

ul {
    list-style: none;
}

/* This is the styled table. */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/* Id and Class Tags */
#SocialMedia {
    border-left: 6px solid;
    border-left-color: #18261d;
    background-color: #d99b29;
}
#SocialMedia2 {
    border-left: 6px solid;
    border-left-color: #d99b29;
    background-color: #84a67b;
}
#SocialMedia3 {
    border-left: 6px solid;
    border-left-color: #18261d;
    background-color: #d99b29;
}
.intro {
    border: 5px dashed;
    border-color: #18261d;
    border-radius: 5px;
    padding: 5px;
}

/* Images */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}